---
title: Home
---

{% for post in site.posts %}
<header>
    <h2 class="post-title"><a href="./notes/">{{ post.title }}</a></h2>
    <p class="post-date"><small>{{ post.date | date_to_string }}</small></p>
</header>

<article>
{{ post.content }}
</article>

<p class="meta"><small>
{% for tag in post.tags %}
#{{ tag }}
{% endfor %}
</p></small>

{% endfor %}

<!--
# Hey!

I'm [Dimitri](/me), welcome on my website.

I mainly use this space to collect thoughts and ideas in the form of [notes](/notes).

You can see some [photoprojects](/projects) I'm working on.

This is what I'm doing [now](/now).

And there's also a list of the [books](/books) I read.

I wish you an excellent day!
-->
<!--
{% include image.html url="/assets/images/scottish.jpg" description="Scottish landscape" %}

{% include image.html url="/assets/images/geese.jpg" description="Geese flying out" %}
-->
