<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/assets/css/styles.css">
<!--<link rel="stylesheet" href="https://use.typekit.net/oko0vga.css">-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
<body>
<div id="container">
<!--
{% include navigation.html %}
-->
<main>
{{ content }}
</main>
{% include footer.html %}
</div>
<script src="/assets/js/myScripts.js"></script>
</body>
</html>
